

.hero {
   
     background-image: url("./img/hero_bg.jpg"); 
     height: 100vh;
     top:0;
     background-size: cover;
     background-position: center bottom;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-family: "Raleway";

 }   
 body{
    margin:0px;
    }
 
html{
    scroll-behavior: smooth;
 }

.header {
  position: absolute;
  top: 0;
  
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 0;
  padding-right: 160px;
  padding-bottom: 0;
  padding-left: 160px;
  box-sizing: border-box;
}
.right-header {
    display:flex;
    align-items: center;
    gap: 40px;
}

.left-header {
    display: flex;
    align-items: center;
 }

.flower{
    height: 64px;
    width: 64px;
    transition: transform 0.6s ease;
}

.flower:hover {
transform: rotate(360deg)
}

.nav-item {
    display: flex;   
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
    
}


.nav-item:hover {
   
    color: rgba(255, 255, 255, 0.732);
    
    
}

.headline{
    display:flex;
    flex-direction: column; 
    margin-bottom:330px;
}


h1{ 
    font-size: 96px;
    font-weight: bold;
    color:white;
    text-align: center;
    
}

.hero p {
    font-size: 24px;
    color:white;
    text-align: center;
   
}
.hero .headline h1 {
    margin-bottom: 0px; 
     
}  



    .call-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 6px 14px;   
    background-color: #9f0908;
}


.call-us:hover {
    background-color: #bd0a0a;
     color:white;
       
}

.phone-png{
    height: 24px;
    width: 24px;
    
    
}

.order{
   padding-bottom: 120px;
    padding-top: 120px;
    padding-right:160px;
    padding-left: 160px;

 display:flex;
 flex-direction: column;
 justify-content:center;
}

.howtoorder{
    display:flex;
    justify-content: center;
   margin:0px;
padding:0;
}


.steps{
        margin:0px;
       display:flex;
       justify-content: space-between;
    }

.steps img {
    height: 128px;
    width: 128px;
    padding: 0px 20px 0px 20px;
}


.order h2 { 
        margin:0;
        padding-bottom: 64px;
    font-family: "Raleway";
    font-size: 80px;
    font-weight: bold;
    color:#9f0908;
    text-align: center;
    }

    .order h3 {
        margin-bottom: 0;
        margin-top:16px;
        font-family:"economica";
    font-size: 56px;
    font-weight: bold;
    color:#000000;
    text-align: center;
    display:flex;
    justify-content: center;
    }


    

    
    .menu{ 
    background-image: url("./img/section_our_menu_bg.jpg"); 
     background-size: cover;
     background-position: center bottom;
    margin:0px;
     display: flex; 
    flex-direction: column;
    padding-bottom: 120px;
    padding-top: 120px;
    padding-left: 160px;
    padding-right:160px;
    }

    .menu img {
   
        height: 352px;
        width: 352px;
        
    }

    .leftmenu{
        display:flex;
        justify-content:flex-start;
       margin-bottom:56px;
       gap: 80px;
    }

    .rightmenu{
        display:flex;
        flex-direction: row-reverse;
        justify-content:flex-start;
        align-items: center;
        margin-bottom:56px;
        gap: 80px;
    
    
        
    }

  
.rightmenu .td{
   margin-left:auto
}

    .prices {
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        margin:0 ;
        
    }


    .menu h3 {
    font-family:"economica";
    font-size: 56px;
    font-weight: bold;
    color:#000000;
    margin: 0;
   
    }

    .table{
    font-family:"raleway";
    font-size: 32px;
    font-weight: bold;
    color: #675e54;
    border-collapse: collapse; 

    }
.table tr td{
    padding-bottom: 8px;
}
.table td:first-child {
  padding-right:200px;
}
 
.ourmenu H2 {
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #9f0908;
  margin:0;
   margin-bottom: 64px;
  text-align: center;
}

.closer{
   
    padding-top: 120px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.closer h2 {
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #9f0908;
  margin:0;

}
.closer .link{
    display: flex;
    justify-content: space-between;
    gap:8px;
    margin-bottom: 64px;
    margin-top:8px;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color:#000000;

    

}

.closer .link:hover{

    color:#9f0908;
    opacity: 0.9;
transition: opacity 0.5s ease;
    

}
.link img{
    margin:0;
    height: 24px;
    width: 24px;
    display:flex;
    align-items: center;
    padding-top: 2px;
}

 


.map{
    width: 100%;
    height:600px;
}



.footer{
    height:130px;
    margin-top: 14px;
    padding-left: 160px;
    padding-right:160px;
    background-color: #000000;
    display:flex;
    justify-content: space-between;
    align-items: center;
}



.footer h2 {
    font-size: 44px;
    font-family: "Raleway" ;
    color: white;
    margin: 0;
}



.footerleft{
     display:flex;
     gap:30px;

}

.footerleft img {

    height: 44px;
    width: 44px;

}

.footerleft img {
    transition: transform 0.6s ease;
}

.footerleft img:hover{
    transform: rotate(360deg);
}
.footerright{
     display:flex;
     gap:10px;
     
}

.footerright img {
height: 40px;
width: 40px;

}

.footerright img:hover {
opacity: 0.5;
transition: opacity 0.5s ease;
}


@media (max-width: 1280px) {
  .hero h1 {
      font-size: 72px;
  }
}

@media(max-width:1280px){
.nav-item-text{
    display:none;
}
.nav-item{
    font-size: 20px;
}
.headline p {
    font-size: 20px;
}
 .header{

padding-left: 24px;
padding-right:24px;
 }

.order{
    padding-bottom: 96px;
    padding-top: 96px;
    padding-right: 24px;
    padding-left: 24px;
}

.order h2{
    font-size: 64px;
    padding-bottom:48px ;
}

.order h3{
    font-size: 32px;
    margin-top: 8px;
}
.order img{
height: 112px;
width: 112px;

}
.menu {
padding-top: 96px;
padding-bottom: 64px;
padding-left: 24px;
padding-right: 24px;


}

.menu h2{
    font-size: 64px;
    margin-bottom: 48px;
}

.menu h3{
    font-size: 32px;
}
.menu td {
    font-size: 24px;
}
.table td:first-child {
    padding-right: 150px;
}

.leftmenu{
    gap:24px;
    margin-bottom: 32px;
}
.rightmenu{
    gap:24px;
    margin-bottom: 32px;
}

.closer{
    padding-top: 96px;
}

.closer h2{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 64px;
}
.closer .link {
    margin-bottom: 48px;
    font-size: 20px;
}
.link img{
    height:20px;
    width:20px;
}

.footer {
    height:144px;
    margin-top:0;
    padding-left: 24px;
    padding-right:24px
}
}




@media(max-width:767px){

    .header{
        height: 64px;
        padding-left: 14px;
        padding-right: 14px;
    
    }
.flower{
    height: 40px;
    width: 40px;

}
.nav-item {
        font-size: 16px;

}
.phone-png {
    height: 20px;
    width: 20px;
}
.hero h1 {
    font-size: 44px;
}

.headline {
    margin-bottom: 200px;
}

.hero p{
    font-size: 16px;
}

.order{
       padding-bottom: 72px;
        padding-top: 72px;
        padding-right: 14px;
        padding-left: 14px;
}

.order h2{
    font-size: 40px;
}
.steps{
    flex-direction: column;
    gap: 32px;
    align-items: center;    
  justify-content: center;  
  text-align: center; 
}




.menu h2{
font-size: 40px;
margin-bottom: 40px;
}


.menu{
    padding-top: 72px;
        padding-bottom: 40px;
        padding-left: 14px;
        padding-right: 14px;
}

  
  .menu img {
    width: 100%;
    height: auto;    
    max-width: 352px;    
  }


.leftmenu {
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.rightmenu{
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

  .prices {
    display: flex;
    flex-direction: column;      
    justify-content: flex-start; 
    gap: 8px;
    width: 100%;
  }

  .prices h3 {
       
    text-align: left;
  }

  .prices .table {
    width: 100%;                
    border-collapse: collapse;
  }

  
  .prices .table td:first-child {
    text-align: left;
    padding-right: 0;                  
  }

 
  .prices .table td:last-child {
    text-align: right;
  }


.closer{
    padding-top: 72px;
}
.closer h2{
    font-size: 40px;
}
.closer .link {
    margin-bottom: 40px;
    font-size: 16px;

}
.link img{
    height: 16px;
    width:16px;
}

.footer {
    height: 86px;
    margin-top:0;
    padding-left: 14px;
    padding-right:14px
}

.footerright img{
    height: 32px;
    width: 32px;
}
.footer h2{
display:none;
}
.footerleft img{
    height: 40px;
    width:40px;
}
}
